body{
    background-color: rgb(245, 224, 196);
}

#car1{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 90;
    transform: translate(-50% ,-50%);
}
